/* 
   @media (max-width: 500px) {
    .rolesContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: auto;
    }
    .rolesContainer .rolesWrapper {
        display: flex;
        width: auto;
        flex-direction: column;
    }
    .rolesContainer .rolesWrapper .roleCard {
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
    }
   
   }
   @media (max-width: 770px) {
    .rolesContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
    }
    .rolesContainer .rolesWrapper {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .rolesContainer .rolesWrapper .roleCard {
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
    
    }
   
   }

.rolesContainer {
    margin: auto 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 90vh;

}

.rolesWrapper {
    width: 40vw;
    display: flex;
    flex-direction: row;
    padding: 15px;
    justify-content: center;
}

.roleCard {
    margin: 3%;
    box-shadow: 0px 0px 7px rgb(110, 110, 110);
    width: 15vw;
    height: 15vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.roleCard p {
    padding-top: 15px;
    font-size: 0.8rem
}

#roleBtn {
    width: 100%;
    font-size: 0.9rem;
    height: 20%;
}





#size:hover {
    background-color: #0068d8;
} */

.rolesTopBar {
    background-color: #3a9cd8;
    background-image: linear-gradient(to bottom right, #3a9cd8, #8dd654);
    color: white !important; 
    width: 100%;
    margin: 0;
    padding: 20px 0 20px 0;
}

.rolesContainer {
    box-shadow: 0px 0px 7px rgb(110, 110, 110);
    width: 100%;
    padding: 0 !important;
  }

  #activeBtn {
    background-color: #3A9CD8;
}
#size {
    width: 10%;
}
  
  .groupsTopBar {
    background-color: #3a9cd8;
    background-image: linear-gradient(to bottom right, #3a9cd8, #8dd654);
    width: 100%;
    margin: 0;
    padding: 20px 0 20px 0;
  }

  .roleCard {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3%;
    box-shadow: 0px 0px 7px rgb(110, 110, 110);
    width: 200px;
    height: 200px;
}

.roleCol {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 !important;
}

.SVG {
    width: 100px;
    height: 100px;
    padding: 0 10px 0 10px;
}
  
  .groups-form {
    width: 100%;
    padding: 0 10px 0 10px;
  }
  
  .roleBtn   {
    margin: 10px;
    border-radius: 0 !important;
    box-shadow: 0px 0px 7px rgb(110, 110, 110);
  }
  
  #groupName, #addGroupName {
    border-radius: 0 !important;
    border: 0;
    outline: 1px solid #CCC !important;
    background-color: white !important;
    -webkit-border-radius: 0;
    outline: 1px solid #ccc;
    outline-offset: -1px;
  }
  
  
  h2, h3 {
    color: white
  }