.peopleSearchHeader {
    padding-left: 1.5%;
    text-align: left;
    padding-bottom: 1%;
}

.searchBar {
    margin-top: 4%;
    margin-bottom: 4%;
    margin-left: 2%;
}


.peopleHeader {
    text-align: left;
    padding-bottom: 1%;
    padding-left: 1.5%;
}

.peopleParagraph {
    text-align: left;
}